include _mixins
doctype
html(lang="en")
  include _head
  body
    include _header
    #fakeloader
    +section("intro", "All about me.")
    +section("expertise", "Couple of things I can do.")
    +section("skills", "Progress bars, anyone?")
    +section("experience", "Here, there and everywhere.")
    +section("education", "Learn all the things!")
    +section("profiles", "Busy as usual.")
    +section("contact", "Call me, maybe.")
    //- JS
    include _js
