@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// =============================================================================
// # typography
// =============================================================================
* {
  font-family: $primary-font;
  font-weight: 400;
}

h1, h2, h3, h4, p, a {
  font-size: 14px;
}

h1, h2, h3, h4 {
  color: $gray-darker;
  font-weight: 600;
}

h1, h2 {
  font-size: 16px;
  text-transform: uppercase;
}

a {
  color: $orange;
  text-decoration: none;
}

p {
  color: $gray-dark;
  line-height: 22px;
}
