// =============================================================================
// # typography
// =============================================================================
* {
  font-family: $primary-font;
  font-weight: 400;
}

h1, h2 {
  text-align: right;
}

h1 {
  color: $gray-darker;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  color: $gray-dark;
  font-size: 14px;
}

a {
  color: $red;
}

// =============================================================================
// # sections
// =============================================================================
section {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }

  &:nth-child(even) {
    background-color: $gray;
  }

  &:nth-child(odd) {
    background-color: darken($gray, 1%);
  }
}

.section__col {
  &--left {
    width: 100%;

    @media (min-width: $screen-sm-min) {
      width: 30%;
    }
  }

  &--right {
    width: 100%;

    @media (min-width: $screen-sm-min) {
      width: 70%;
    }
  }
}

.section__col--left, .section__col--right {
  padding: 60px;
}
