// =============================================================================
// # typography
// =============================================================================
* {
  font-family: $primary-font;
  font-weight: 400;
}

h1, h2, h3, p, a {
  font-size: 14px;
}

h1 {
  color: $gray-darker;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  color: $gray-dark;
}

h3 {
  color: $gray-darker;
  font-weight: 600;
}

a {
  color: $orange;
  text-decoration: none;
}

p {
  color: $gray-dark;
  line-height: 22px;
}

// =============================================================================
// # website title
// =============================================================================
.website__title {
  text-align: center;

  @media (min-width: $screen-md-min) {
    text-align: left;
  }

  h1 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;

    @media (max-width: $screen-md-max) {
      margin: 0;
    }
  }

  span {
    display: block;
    color: $orange;
    font-size: 50px;
    text-transform: uppercase;
  }
}

.website__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
  }

  p {
    font-size: 20px;
  }
}

// =============================================================================
// # header
// =============================================================================
header, section {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
  }
}

header {
  height: 100%;

  @media (min-width: $screen-md-min) {
    height: 100vh;
  }

  .section__col--left {
    padding-top: 0;

    @media (min-width: $screen-md-min) {
      padding-top: 60px;
      background-color: $gray;
    }

    img {
      display: block;
      width: 150px;
      height: 150px;
      margin: 20px auto;
      border-radius: 50%;

      @media (min-width: $screen-md-min) {
        width: 200px;
        height: 200px;
      }
    }
  }

  .section__col--right {
    display: flex;
    flex-direction: column;
    padding-top: 0;

    @media (min-width: $screen-md-min) {
      padding-top: 60px;
    }
  }

  .contact__details {
    margin-top: auto;
    border-top: 2px solid $gray;
  }
}

// =============================================================================
// # sections
// =============================================================================
section {
  &:nth-child(even) .section__col--left {
    background-color: darken($gray, 1%);
  }

  &:nth-child(odd) .section__col--left {
    background-color: $gray;
  }
}

.section__col {
  &--left {
    width: calc(100% - 60px);

    @media (min-width: $screen-md-min) {
      width: 20%;
    }

    h1, h2 {
      text-align: left;

      @media (min-width: $screen-md-min) {
        text-align: right;
      }
    }
  }

  &--right {
    width: calc(100% - 60px);

    @media (min-width: $screen-md-min) {
      width: 80%;
    }
  }
}

.section__col--left, .section__col--right {
  padding: 30px;

  @media (min-width: $screen-md-min) {
    padding: 60px;
  }
}

// =============================================================================
// # expertise
// =============================================================================
.section__expertise .section__col--right {

// =============================================================================
// # expertise & profiles
// =============================================================================
.section__expertise .section__col--right, .section__profiles .section__col--right {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }
}

.expertise__element, .profiles__element {
  width: 100%;
  margin: 10px 0;

  @media (min-width: $screen-sm-min) {
    margin: 10px 20px;
  }

  @media (min-width: $screen-sm-min) {
    width: calc(100% / 3 - 40px);
  }

  h1 {
    margin-top: 0;
    padding: 0;
    color: $orange;
  }
}

.profiles__element {
  display: flex;

  i {
    padding-right: 15px;
    color: $gray-dark;
    font-size: 21px;
    line-height: 0;
  }

  a {
    font-weight: 600;
  }
}

// =============================================================================
// # skills
// =============================================================================
.skills {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.skills__element {
  width: 100%;
  padding: 20px;

  @media (min-width: $screen-sm-min) {
    width: calc(100% / 2 - 40px);
  }

  h1 {
    margin-top: 0;
  }

  span {
    color: $orange;
    font-weight: 600;
  }
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: $gray;
}

.progress-bar--filled {
  height: 100%;
  background-color: $orange;
}

// =============================================================================
// # experience & education
// =============================================================================
.section__experience .section__col--right {
  padding-bottom: 0;
}

.section__education .section__col--right {
  padding-top: 0;
}

.section__education .timeline__element:first-child {
  padding-top: 60px;
}

.timeline {
  padding-left: 30px;
  border-left: 2px solid $gray;

  @media (min-width: $screen-sm-min) {
    margin-left: 20px;
  }
}

.timeline__element {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }
}

.timeline__point {
  display: block;
  position: relative;
  left: -36px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $orange;

  @media (min-width: $screen-sm-min) {
    min-width: 10px;
  }
}

.timeline__header {
  min-width: 250px;
  line-height: 10px;

  time, h3 {
    color: $gray-dark;
    font-size: 10px;
  }

  h1, h2 {
    line-height: 16px;
  }
}

.timeline__content {
  padding: 0 20px 0 0;

  p {
    margin: 0;
  }
}

// =============================================================================
// # contact
// =============================================================================
.section__contact {
  .contact__details {
    margin-bottom: 60px;
    border-bottom: 2px solid $gray;
  }
}

.contact__details {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }
}

.contact__detail {
  flex: 1 1 auto;
  flex-basis: calc(100% / 4);

  a {
    color: $gray-dark;

    &:hover {
      color: $orange;
    }
  }
}

// =============================================================================
// # socials
// =============================================================================
.socials {
  display: flex;
  margin: 20px auto;
  padding: 0;

  list-style-type: none;

  @media (min-width: $screen-md-min) {
    margin: 0 0 0 auto;
  }

  .social__element {
    width: 38px;
    height: 38px;
    margin-right: 5px;

    a {
      display: block;
      border: 2px solid $gray;
      background-color: $gray;
      color: $gray-dark;
      line-height: 2.3;
      text-align: center;

      &:hover {
        border: 2px solid $gray;
        background-color: $white;
        color: $orange;
      }
    }
  }
}
