.profiles__element
  i.icon-github
  .profiles__content
    h1 #[a(href="https://github.com/LucaPipolo") GitHub]
    p All my open source projects for you anlyze.  
.profiles__element
  i.icon-gitlab
  .profiles__content
    h1 #[a(href="https://gitlab.com/LucaPipolo") GitLab]
    p All my open source projects for you anlyze.
.profiles__element
  i.icon-medium
  .profiles__content
    h1 #[a(href="https://medium.com/@pipolo.luca") Medium]
    p Yes. I"m also a blogger and here you find my writings.
