+expertise(
  {"title": "Templating", "text": "I not only know all HTML5 secrets but I also love to work with template engines like Pug or with generators as Jekyll."},
  {"title": "Advanced CSS", "text": "Yes, CSS3 is awesome but I like boost it using SCSS, strictly following BEM and SMACSS methodologies, and compile it with my dear friend Gulp."},
  {"title": "JavaScript / jQuery", "text": "I can easily move through JavaScript world. I'm so familiar with jQuery that I decided to experiment a little bit of AngularJS and React."},
  {"title": "Object-Oriented PHP", "text": "Surprised? I'm not only a Front-end developer. I can also write beautiful PHP code, applying PSR best pratices and writing PHPUnit tests."},
  {"title": "WordPress", "text": "An easy solution that requires caution. I can develop WP themes and plugins in the right way, using OOP PHP and taking performances really serious."},
  {"title": "Git", "text": "Git is my bread and butter. Does not matter how large is the team, I'm confident with pull requests, reviews and git flow."}
)
