+skills(
  {'name': 'HTML5', 'value': '100%'},
  {'name': 'CSS + SCSS', 'value': '100%'},
  {'name': 'JS + jQuery + CoffeeScript', 'value': '90%'},
  {'name': 'Object Oriented PHP', 'value': '60%'},
  {'name': 'WordPress', 'value': '60%'},
  {'name': 'Git', 'value': '100%'},
  {'name': 'AngularJS', 'value': '20%'},
  {'name': 'MySQL', 'value': '40%'}
)
