+contact(
  {'name': 'Location', 'description': 'Barcelona, ES', 'link': 'false'}, 
  {'name': 'Phone', 'description': '+34 672 473 961', 'link': 'tel:+34672473961'},
  {'name': 'Web', 'description': 'lucapipolo.com', 'link': 'http://www.lucapipolo.com'},
  {'name': 'Email', 'description': 'hello@lucapipolo.com', 'link': 'mailto:hello@lucapipolo.it'}
)
.website__title.animated
  h1 Luca #[span pipolo]
  .website__subtitle.animated
    p Web Developer
    +socials(
      {'name': 'github', 'url': 'https://github.com/LucaPipolo'},
      {'name': 'linkedin', 'url': 'https://www.linkedin.com/in/lucapipolo/'},
      {'name': 'skype', 'url': 'skype:pipolo.luca?chat'},
      {'name': 'twitter', 'url': 'https://twitter.com/luca_pipolo'}
    )
