include _mixins
doctype
html(lang="en")
  include _head
  body
    include _header
    #fakeloader
    +section("intro", "All about me.")
    +section("expertise", "Batman would be jealous.")
    +section("skills", "Progress bars, anyone?")
    +section("experience", "Yes. I have been around.")
    +section("education", "Lazy is not in my vocabulary.")
    +section("profiles", "Busy as usual.")
    +section("contact", "Call me, maybe.")
    //- JS
    include _js
